<div class="user-sign-container">
  <div class="sign-up-container">
    <div class="sign-up-content">
      <div class="sign-up-content__header">
          <p class="sign-up-content__header-ttl">新規登録</p>
      </div>
      <div class="sign-up-content__form">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

          <div class="form-input">

            <div class="form-input__errors">
              <% resource.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </div>

            <div class="form-input__name">
              <div class="form-flame">
                <div class="form-flame__icon"><i class="fas fa-user"></i></div>
                <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-flame__cont", placeholder: "ユーザー名" %>
              </div>
            </div>
            
            <div class="form-input__mail">
              <div class="form-flame">
                <div class="form-flame__icon"><i class="fas fa-envelope"></i></div>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-flame__cont", placeholder: "メールアドレス" %>
              </div>
            </div>

            <div class="form-input__password">
              <div class="form-flame">
                <div class="form-flame__icon"><i class="fas fa-lock"></i></div>
                <%= f.password_field :password, autocomplete: "new-password", class: "form-flame__cont", placeholder: "パスワード" %>
              </div>
            </div>

            <div class="form-input__password">
              <div class="form-flame">
                <div class="form-flame__icon"><i class="fas fa-lock"></i></div>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-flame__cont", placeholder: "パスワード(確認用)" %>
              </div>
            </div>

          </div>

          <div class="form-submit">
            <%= f.submit "登録", class: "form-submit__btn" %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
