<div class="sign-container">
  <div class="sign-content">
    <div class="signup-section">
      <div class="signup-section__header">
          <p class="signup-section__header-ttl">アカウントをお持ちでない方</p>
          <p class="signup-section__header-txt">新規登録していただくと、さらに便利な機能をご利用いただけます。</p>
      </div>
      <div class="signup-section__img"></div>
      <%= link_to "新規登録", new_user_registration_path, class: "signup-section__btn" %>
    </div>
    <div class="login-section">
      <div class="login-section__header">
          <p class="login-section__header-ttl">ログイン</p>
      </div>
      <div class="login-section__form">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-input">
            <div class="form-input__errors">
              <%= alert %>
            </div>
            <div class="form-input__mail">
              <div class="form-flame">
                <div class="form-flame__icon"><i class="fas fa-envelope"></i></div>    
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-flame__cont", placeholder: "メールアドレス", required: true %>
              </div>
            </div>
            <div class="form-input__pass">
              <div class="form-flame">
                <div class="form-flame__icon"><i class="fas fa-lock"></i></div>    
                  <%= f.password_field :password, autocomplete: "current-password", class: "form-flame__cont", placeholder: "パスワード", required: true %>
              </div>
            </div>
            <% if devise_mapping.rememberable? %>
              <div class="form-input__txt">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>
          </div>
          <div class="form-submit">
            <%= f.submit "ログイン", class: "form-submit__btn" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>