<div id="modal-post-open" class="modal-post-open">Post</div>
<div id="modal-post-form" class="modal-post-form" id="modal-post-form__header">
    <div class="modal-post-form__header" id="modal-post-form__header">
      Let's share your favorite things
    </div>
    <%= form_with model: @post_form, url: posts_path, class: "form" do |f| %> 
      <div class="post-form-errors" id="post-form-errors"></div>
      <hr>
      <div class="form-group">
        <%= f.text_field :post_title, class: 'form-control', placeholder: "post_title" %>
        <%= f.label :post_title, "投稿のタイトル", class: "form-label" %>
      </div>
      <div class="form-group">
        <%= f.text_area :post_content, class: 'form-control-area', placeholder: "post_content" %>
        <%= f.label :post_content, "投稿のコメント", class: "form-label" %>
      </div>
      <hr>
      <div class="form-group">
        <%= f.text_field :movie_link_1, class: 'form-control', placeholder: "movie_link_1", required: true %>
        <%= f.label :movie_link_1, "おすすめ動画 <その1> YouTube 動画URL", class: "form-label" %>
      </div>
      <div class="form-group">
        <%= f.text_area :movie_content_1, class: 'form-control-area', placeholder: "movie_content_1", required: true %>
        <%= f.label :movie_content_1, "動画コメント", class: "form-label" %> 
      </div>
      <hr>
      <div class="form-group">
        <%= f.text_field :movie_link_2, class: 'form-control', placeholder: "movie_link_2", required: true %>
        <%= f.label :movie_link_2, "おすすめ動画<その2> YouTube 動画URL", class: "form-label" %>
      </div>
      <div class="form-group">
        <%= f.text_area :movie_content_2, class: 'form-control-area', placeholder: "movie_content_2", required: true %>
        <%= f.label :movie_content_2, "動画コメント", class: "form-label" %>
      </div>
      <hr>
      <div class="form-group">
        <%= f.text_field :movie_link_3, class: 'form-control', placeholder: "movie_link_3", required: true %>
        <%= f.label :movie_link_3, "おすすめ動画 <その3> YouTube 動画URL", class: "form-label" %>
      </div>
      <div class="form-group">
        <%= f.text_area :movie_content_3, class: 'form-control-area', placeholder: "movie_content_3", required: true %>
        <%= f.label :movie_content_3, "動画コメント", class: "form-label"  %>
      </div>
      <hr>
      <div class="form-group">
        <%= f.text_field :movie_link_4, class: 'form-control', placeholder: "movie_link_4", required: true %>
        <%= f.label :movie_link_4, "おすすめ動画 <その4> YouTube 動画URL", class: "form-label" %>
      </div>
      <div class="form-group">
        <%= f.text_area :movie_content_4, class: 'form-control-area', placeholder: "movie_content_4", required: true %>
        <%= f.label :movie_content_4, "動画コメント", class: "form-label" %>
      </div>
      <hr>
      <div class="form-btn">
        <%= f.submit 'Share', id: "form-btn-post", class: "form-btn__post" %>
        <div id="modal-post-cancel" class="form-btn__cancel">Cancel</div>
      </div>
    <% end %>
</div>
<div id="modal-post-mask" class="modal-post-mask"></div>