<div class="post-show-info-container">
  <div class="post-show-content-head">
    <div class="post-show-content-head__card-flame">
      <% post.movies.each do |movie| %>
          <%= image_tag movie.image, class: "post-show-content-head__card-flame-img"%>
      <% end %>
    </div>
    <div class="post-show-content-head__info">
        <div class="post-show-content-head__info-reply-logo">
            <i class="far fa-comment"></i>
        </div>
        <div class="post-show-content-head__info-reply-number"><%= post.comments.count %></div>
        <%= render "posts/post_favorite", post: post %>
        <%= render "posts/post_bookmark", post: post %>
        <%= render "posts/post_delete", post: post %>
    </div>
    <div class="post-show-content-head__relation">
      <div class="relation-flame">
        <% post.categories.each do |category| %>
          <%= link_to category_path(category) do %>
            <div class="relation-flame__content"><%= category.name %></div>
          <% end %>
        <% end %>
        <% post.tags.each do |tag| %>
          <%= link_to tag_path(tag) do %>
            <div class="relation-flame__content">#<%= tag.name %></div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>