<div class="post-show-content-head__info-favorite-logo" id="post-favorite-logo-<%= post.id %>">
  <% if user_signed_in? && !(current_user.id == post.user_id) %>
    <% if post.is_favorited_by?(current_user) %> 
      <%= render 'favorites/favorited', post: post %>
    <% else %>
      <%= render 'favorites/non_favorited', post: post %>
    <% end %>
  <% else %>
    <div class="post-show-content-head__info-favorite-logo-marked">
      <i class="fas fa-heart"></i>
    </div>
  <% end %>
</div>
<div class="post-show-content-head__info-favorite-number" id="post-favorite-number-<%= post.id %>"><%= post.favorites.count %></div>