<div class="post-show-container">
  <div class="post-show-main-container">
    <div class="post-main-infomation">
      <%= render "posts/post_show_info", post: @post %>
    </div>
    <div class="post-main-article">
      <%= render "posts/post_show_article", post: @post %>
  </div>
  </div>
  <div class="post-show-comment-container">
    <%= render 'posts/post_comment', post: @post, comments: @comments %>
  </div>
  <div class="post-show-link-container">
    <div class="post-show-link">
      <%= link_to "投稿一覧に戻る", root_path, class: "post-show-link__block" %>
    </div>
  </div>
  <div class="post-show-relation-container">
    <%= render 'posts/post_head_content', text: "関連動画", category: nil, posts: @posts %>
  </div>
</div>