<header>
  <div class="header-container">
    <section class="section-left">
      <%= render 'layouts/drawer' %>
      <div class="header-logo">
        <%= link_to image_tag("logo.png", class:"header-logo__img"), root_path, 'data-turbolinks': false %>
      </div>
    </section>
    <section class="section-center">
      <%= render 'layouts/category_menu'%>
      <%= render 'layouts/tag_menu'%>
    </section>
    <section class="section-right">
      <% if user_signed_in? %>
        <div class="header-post">
          <%= render 'posts/post_form' %>
        </div>
        <div class="header-icon">
          <%= link_to image_tag(current_user.icon, class: "header-icon__img"), user_path(current_user) %>
        </div>
      <% else %>
        <div class="header-login">
          <%= link_to "ログイン", new_user_session_path, class: "header-login__item" %>
        </div>
      <% end %>
    </section>
  </div>
</header>