<!DOCTYPE html>
<html>
  <head>
    <title>MyFav</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= link_to root_path do %>
    <h1>MyFav</h1>
  <% end %>


  <body>
    <%= yield %>
  </body>
</html>
